<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="gazebo">
	
	<!-- link 0 -->

	<gazebo reference="link0">
		<!-- <static>true</static> -->
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 1 -->
	
	<gazebo reference="joint1">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>
	
	<gazebo reference="link1">
	<!-- <static>true</static> -->
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 2 -->
	
	<gazebo reference="joint2">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>

	<gazebo reference="link2">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 3 -->

	<gazebo reference="joint3">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>

	<gazebo reference="link3">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 4 -->

	<gazebo reference="joint4">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>

	<gazebo reference="link4">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 5 -->

	<gazebo reference="joint5">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>
	
	<gazebo reference="link5">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

	<!-- link/joint 6 -->

	<gazebo reference="joint6">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
	</gazebo>

	<gazebo reference="link6">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>
	
	<!-- ee link/joint -->
	<!-- <preserveFixedJoint> cancels joint reduction -->
	<!-- https://github.com/osrf/gazebo/issues/2732 -->

	<gazebo reference="joint_ee">
		<implicitSpringDamper>1</implicitSpringDamper>
		<provideFeedback>true</provideFeedback>
		<preserveFixedJoint>true</preserveFixedJoint>
	</gazebo>
	
	 <gazebo reference="ee">
		<selfCollide>true</selfCollide>
		<mu1>0.2</mu1>
		<mu2>0.2</mu2>
	</gazebo>

</xacro:macro>
</robot>
